image: niusmallnan/rke2-runtime:{{replace "+" "-" build.tag}}
manifests:
  - image: niusmallnan/rke2-runtime:{{replace "+" "-" build.tag}}-linux-amd64
    platform:
      architecture: amd64
      os: linux
